nav {
    background-color: #fdd59e;
    padding: 1.5%;
    border: 1px solid #fff;
}

nav img {
    width: auto;
    height: auto; 
    max-width: 100%; 
    
}

a:link {
    color: rgb(0, 0, 0);
  }

nav a{
    margin: auto;
    text-decoration: none;
}

nav a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: blue;
}

#marca {
    width: 200px;
    height: 70px;
}